<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="hero">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Login</button>
                    <button type="button" class="toggle-btn" onclick="signUp()">Register</button>
                </div>
                <div class="social-icons">
                    <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/>
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
                    <img src="https://img.icons8.com/fluency/50/000000/linkedin.png"/>
                </div>
                <form action="/" class="input-group" id="login" method="POST">
                    <input type="text" name="" class="input-field" placeholder="username or email" autocomplete="off" required>
                    <input type="password" name="" class="input-field" placeholder="Enter password" autocomplete="off" required>
                    <input type="checkbox" name="" class="check-box"><span>Remember me</span>
                    <button type="submit" class="submit-btn">Login</button>
                </form>

                <form action="#" class="input-group" name="myForm" id="sign-up" onsubmit="return validateForm()" method="POST">
                    <div class="formdesign" id="name">
                        <input type="text" name="fname" class="input-field input" placeholder="user name" autocomplete="off" required>
                        <p class="formerror" style="color: red; font-size: 10px;"></p>
                    </div>
                    <div class="formdesign" id="email">
                        <input type="email" name="femail" id="email" class="input-field input" placeholder="Email id" autocomplete="off" required>
                        <p class="formerror" style="color: red; font-size: 10px;"></p>
                    </div>
                    <div class="formdesign" id="pass">
                        <input type="password" name="fpass" class="input-field input" placeholder="Enter password" autocomplete="off" required>
                        <p class="formerror" style="color: red; font-size: 10px;"></p>
                    </div>
                    <div class="formdesign" id="cpass">
                        <input type="password" name="fcpass" class="input-field input" placeholder="confirm password" autocomplete="off" required>
                        <p class="formerror" style="color: red; font-size: 10px;"></p>
                    </div>
                    <input type="checkbox" name="" class="check-box" required><span>agree to terms & conditions</span>
                    <button type="submit" class="submit-btn signup-btn">sign up</button>
                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>